@charset "utf-8";
/* Smallest font size should be 15px, we'll do it 20, 25px */
/* Fonts:
  HNL doesn't work with the serif
  For the title, use a bold font, possibly serif?
*/
body {
  margin: 5%;
  margin-top: 3vw;
  background: #EEF6FF;
  text-align: center;
  font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, sans-serif;

}
h1 {
  font-weight: 900;
  text-shadow: #B9D3C1 2px 2px 10px;
  font-size: 5vw;
  font-family: 'Exo 2', sans-serif;
}

h2 {
  font-size: 2.2vw;
  color: #999;
  font-family: serif;
  text-rendering: optimizeLegibility;
  font-style: italic;
}

input#query-text {
  font-size: 5vw;
  border: solid 1px #ccc;
  padding: 0.172em 1.58em;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  z-index: 2;
  position: relative;
  background-color: transparent;
  font-family: sans-serif;
}

#result {
  line-height: 1.5em;
  font-weight: 200;
  font-size: 2.8vw;
  margin-top: 0;
  background-color: #FFF1F7;
  width: 90%;
  margin: 0 auto;
  text-align: left;
  font-family: 'Lora', serif;
  padding: 2em 3em;
  box-sizing: border-box;
  box-shadow: 0px 0px 5px rgba(199, 192, 194, 0.65);
}

#result p {
  margin: 0;
}

#result b {
  font-weight: 700;
  font-style: italic;
}

#search-icon {
  position: absolute;
  top: 0.25em;
  left: 0.3em;
  font-size: 5vw;
  color: #ccc;
  z-index: 1;
}

#text-container {
  position: relative;
  background-color: white;
  width: 90%;
  margin: 0 auto;
  box-shadow: 0px 0px 5px rgba(199, 192, 194, 0.65);
}
