---
title: Quickipedia
---
<h1>Quickipedia</h1>
<h2>Quickly search terms on Wikipedia for their short definition.<br />For example: 'Genghis Khan', 'Apollo 13'</h2>

<div id="text-container">
	<input type="text" id="query-text" />
	<i class="fa fa-search" id="search-icon"></i>
</div>
<div id="result"></div>
