---
title: Quickipedia
---
<h1>Quickipedia</h1>
<h2>Quickly search terms on wikipedia for their short definition.</h2>

<div id="text-container">
	<input type="text" id="query-text" />
	<i class="fa fa-search" id="search-icon"></i>
</div>
<div id="result"></div>
